
h1, p {
  text-align: center; 
}

/* formulario */
form {
<<<<<<< HEAD
  max-width: 300px;     /* largura maxima */
  margin: 30px auto; 
  padding: 25px; 
  background-color: white; 
  border: 1px solid black; 
  border-radius: 8px;  
=======
  max-width: 300px;
  margin: 20px auto;
  padding: 35px;
  border: 1px solid black;
  background-color: white;
>>>>>>> 1c54b5d41cf844b62ebaa3c33bf22127df1307d0
}

label {
  display: block;       /* label ocupa o bloco inteiro */
  margin-bottom: 6px; 
  font-weight: bold;
<<<<<<< HEAD
  color: #363333; 
}

input[type="email"],
input[type="password"] { 
  width: 100%;          
  padding: 10px;        
  margin-bottom: 15px; 
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box; 
=======
  color:black;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid grey;
>>>>>>> 1c54b5d41cf844b62ebaa3c33bf22127df1307d0
}

button {
  width: 100%;
<<<<<<< HEAD
  padding: 12px;
  background-color: blue; 
=======
  padding: 10px;
  background-color: black;
>>>>>>> 1c54b5d41cf844b62ebaa3c33bf22127df1307d0
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* efeito ao passar o mouse no botao */
button:hover {
  background-color: rgb(32, 32, 180); 
}

a {
  color: #007bff; 
  text-decoration: none; /* tirando o sublinhado */
}

a:hover {
  text-decoration: underline; /* adiciona sublinhado */
  cursor: pointer;
}