<h1>Estagiários que passaram por aqui!</h1>

<div *ngIf="estagiarios.length > 0">

  <div *ngFor="let item of estagiarios" class="intern-card">
    <img src="assets/murilo.png" alt="Foto de {{ item.name }}">
    <br>

    <strong>{{ item.name }}</strong>
    <em>{{ item.role }}</em>

    <p><strong>Bio:</strong> {{ item.bio }}</p>
    <p><strong>Período:</strong> {{ item.startDate }} - {{ item.endDate }}</p>
    <p><strong>História:</strong> "{{ item.story }}"</p>
    <p><strong>Tech Stack:</strong> {{ item.techStack }}</p>

    <div class="social-links">
      <a [href]="item.social.linkedin" target="_blank">LinkedIn</a> |
      <a [href]="item.social.github" target="_blank">GitHub</a> |
      <a [href]="item.social.instagram" target="_blank">Instagram</a>
    </div>
  </div>
</div>

<br>
<div class="link">
  <button (click)="irHome()">Voltar Tela Inicial</button>
</div>