<h1>Estagiários que passaram por aqui</h1>

<div class="intern">
  <img src="assets/murilo.png" alt="Murilo Lima Matioli"><br>

  <strong>Murilo Lima Matioli</strong><br>
  <em>Desenvolvedor Backend</em><br><br>

  <p><strong>Bio:</strong> Gosto de mexer com backend e APIs.</p>
  <p><strong>Período:</strong> 2023 - 2025</p>
  <p><strong>História:</strong> "Aprendi bastante, foi muito produtivo!"</p>
  <p><strong>Tech Stack:</strong> Node.js, MongoDB, Express</p>

  <div class="social">
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">LinkedIn</a> |
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">GitHub</a> |
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">Instagram</a>
  </div>
</div>

<div class="intern">
  <img src="assets/cairo.png" alt="Cairo da Silva"><br>

  <strong>Cairo da Silva</strong><br>
  <em>Desenvolvedor Backend</em><br><br>

  <p><strong>Bio:</strong> Gosto de mexer com backend e APIs.</p>
  <p><strong>Período:</strong> 2023 - 2025</p>
  <p><strong>História:</strong> "Aprendi bastante, foi muito produtivo!"</p>
  <p><strong>Tech Stack:</strong> Node.js, MongoDB, Express</p>

  <div class="social">
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">LinkedIn</a> |
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">GitHub</a> |
    <a href="https://www.youtube.com/watch?v=uzEhd3Lugik&list=PLT1M213fLL7nT-Y0VDnEzMf9oqx-ENmG-" target="_blank">Instagram</a>
  </div>
</div>

<br>
<div class="link">
  <button (click)="irHome()">Voltar Tela Inicial</button>
</div>
